<form action="/posts" method="post">
  <div>
    <label for="name">Post name:</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="content">Post content:</label>
    <input type="text" name="content" id="content">
  </div>
  <input name="submit" type="submit" id="submit">
</form>
