<div>
  <h1><%= @post.name %></h1>
  <p><%= @post.content %></p>
</div>
 <form method="post" action="/posts/<%=@post.id%>/delete">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="delete">
</form>
